.vscode
.idea
*.pdf
*.json
data
!streamlit_app/data/
.DS_Store

bootstrap_data

sandbox
__pycache__
postgres
app-*
checkpoint
*.jar
postgresql-42.2.18.jar
.env
**/__pycache__
.venv
venv/
*/venv*
/data/*
!/data/.gitkeep