scrapy>=2.11.0
pyspark>=3.4.0
psycopg2-binary>=2.9.9
python-dotenv>=1.0.0
sqlalchemy>=2.0.0
pymongo>=4.0.0
scrapy-fake-useragent>=1.4.4
pandas>=2.2.3
streamlit>=1.30
streamlit-folium>=0.15
folium>=0.15
pytest>=8.0
flake8>=7.0
plotly>=5.20
geopandas>=0.14

requests~=2.32.4
altair~=5.5.0
streamlit_folium~=0.25.0
pydeck~=0.9.1